@font-face {
  font-family: PrimaryFont;
  src: url(Myriad_Pro_Black_SemiExtended.otf);
}
.main_header
{
    color: #118590;
}

.outlined
{
    background-color: honeydew;
    border-color: #4be3ae;
    color: #4be3ae;
}
.outlined:hover
{
    background-color: #4be3ae;
    border-color: #4be3ae;
    color: honeydew;
}
.outlined:focus
{
    background-color: #4be3ae;
    border-color: #4be3ae;
    color: honeydew;
    box-shadow: 0 0 0 .25rem rgba(75, 227, 174,.5);
}

.template_card
{
    border-color: #4be3ae;

}